{% extends 'admin/layout.html' %}

{% block content %}
{% include '_messages.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="" method="POST">
                <input type="text" name="brand" class="form-control">
                <input type="submit" value="Brand elave et" class="btn btn-info mt-2" >
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>


{% endblock content %}