* {
    box-sizing: border-box;
}

html,
body {
    background-color: #f3f3f3;
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1;
}

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.alert-success {
    position: relative;
    padding: 10px;
    margin: 10px;
    border: 1px solid transparent;
    background-color: #f79bdb;
}