<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title>SMART-ARENA-{{title}}</title>
    {% else %}
    <title>SMART-ARENA</title>
    {% endif %}
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static//libs/owl-carousel/assets/owl.carousel.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>

    <header class="header">

        <div class="header__container">
            <div class="header__logo">
                <a href="{{url_for('index')}}" class="hvr-sink">SMART~ARENA</a>
            </div>
            <form class="header__search hvr-sink">
                <label class="header__search-input-wrapper">
                    <input aria-label="search" class="header_search-input" type="text" placeholder="Axtarış...">
                </label>
                <div class="header__search-button-wrapper">
                    <button class="header__search-button" type="submit"><i class="fas fa-search"></i></button>
                </div>

            </form>
            <div class="header__links">
                <a href="{{url_for('login')}}" class="header_link hvr-sink">
                    <span class="header_link-icon"><img class="fl" src="/static/img/icons/log-in.png" alt="log-in"></span>
                    <span class="header_link-text">Giriş</span>
                </a>
                <a href="{{url_for('signup')}}" class="header_link hvr-sink">
                    <span class="header_link-icon"><img class="fl" src="/static/img/icons/user.png" alt="log-in"></span>
                    <span class="header_link-text">Qeydiyyat</span>
                </a>
            </div>
        </div>
        <div class="header-nav-wrapper">
            <nav class="header-nav">
                <a href="{{url_for('index')}}" class="header-nav_link">Baş səhifə</a>
                <a href="{{url_for('compare')}}" class="header-nav_link">Müqayisə</a>
                <a href="{{url_for('contact')}}" class="header-nav_link">Əlaqə</a>
            </nav>
        </div>



    </header>

    {% block content%}


    {% endblock content%}


    <footer class="footer-nav-wrapper">
        <nav class="footer-nav">
            <a href="{{url_for('index')}}">Baş səhifə</a>
            <a href="{{url_for('compare')}}">Müqayisə</a>
            <a href="{{url_for('contact')}}">Əlaqə</a>
        </nav>
        <div class="logo">
            <a href="index.html" class="header__logo hvr">SMART~ARENA</a>
        </div>
        <div class="social">
            <a href="#"><i class="far fa-envelope"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </footer>

    <!--jQuery-->
    <script src="/static//libs/jquery/jquery-3.3.1.min.js"></script>

    <!--OwlCarousel-->
    <script src="/static/libs/owl-carousel/owl.carousel.min.js"></script>

    <script src="static/js/main.js"></script>
</body>

</html>