.carousel-section {
    margin: 0 72px;
}

.carousel_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2)0%, rgba(0, 0, 0, 0)100%), url("./../img/carousel/slider-01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
}

.carousel_item-title {
    margin-bottom: 60px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 4px;
}

.carousel_item-text {
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
    font-weight: 500;
    line-height: 2.14;
    h4 {
        margin-bottom: 20px;
    }
}