.navigation {
    @extend %mixin-card;
    transition-duration: 0.5s;
    &:hover {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    }
}

.navigation_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation_item {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 60px;
    border-bottom: 2px solid $gray;
    cursor: pointer;
    transition-duration: 0.5s;
    &:last-child {
        border-bottom: none;
    }
    &:hover {
        background-color: $hoverRed;
        .navigation_item-title {
            color: #E0E0E0;
        }
    }
}

.navigation_item-title {
    color: #808080;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
    transition-duration: 0.5s;
}

.button {
    background-color: #A5A5A5;
    border: none;
    color: #f5f5f5;
    padding: 15px 35px;
    width: 255px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.5s;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
    color: $hoverRed;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
    color: $hoverRed;
}