{% extends 'base.html' %}


{% endblock content%}


    <main class="main-content">
        <div class="container">
            <div class="main_row">
                <!--main_column-left-->
                <div class="main_column-left">
                    <!--navigation-->
                    <nav class="navigation">
                        <ul class="navigation_list">
                            <button class="button"><span>Bütün Brendler</span></button>

                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">iPhone</div>
                                </a>
                            </li>
                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">Samsung</div>
                                </a>
                            </li>
                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">Xiaomi</div>
                                </a>
                            </li>
                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">Huawei</div>
                                </a>
                            </li>
                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">LG</div>
                                </a>
                            </li>
                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">Nokia</div>
                                </a>
                            </li>
                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">Realme</div>
                                </a>
                            </li>
                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">Oppo</div>
                                </a>
                            </li>
                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">OnePlus</div>
                                </a>
                            </li>
                        </ul>

                    </nav>
                    <!--navigation-->

                    <!-- banner-->
                    <aside class="info-block">
                        <div class="info-block_title">Reklam</div>
                        <div class="info-block_subtitle">Reklam</div>

                    </aside>
                    <!-- banner-->

                    <!-- banner-->
                    <aside class="info-block">
                        <div class="info-block_title">Reklam</div>
                        <div class="info-block_subtitle">Reklam</div>

                    </aside>
                    <!-- banner-->


                </div>
                <!--main_column-left-->
                <!--main-column-right-->
                <div class="main_column-right">
                    <div class="cards-wrapper">
                        <div class="card">
                            <!--card header-->
                            <div class="card_header">
                                <button class="card_icon-btn">
                                    <span class="compare-icon"><i class="fas fa-compress-alt"></i></span>
                                </button>
                                <button class="card_icon-btn">
                                    <span class="heart-icon"><i class="far fa-heart"></i></span>
                                </button>
                            </div>
                            <!--card header-->
                            <a href="single-product.html">
                                <div>
                                    <img class="card-img" src="./img/brand-product/apple1.jpg" alt="apple">
                                </div>
                                <h3 class="card-title">Apple iPhone Pro max 256GB Green</h3>
                                <div class="card-price">
                                    <span>1899.00</span>
                                    <span><img class="card-price-icon" src="./img/icons/Azeri_manat_symbol.svg.png" alt=""></span>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <!--card header-->
                            <div class="card_header">
                                <button class="card_icon-btn">
                                    <span class="compare-icon"><i class="fas fa-compress-alt"></i></span>
                                </button>
                                <button class="card_icon-btn">
                                    <span class="heart-icon"><i class="far fa-heart"></i></span>
                                </button>
                            </div>
                            <!--card header-->
                            <a href="#">
                                <div>
                                    <img class="card-img" src="./img/brand-product/apple-2.jpg" alt="apple">
                                </div>
                                <h3 class="card-title">iPhone 11 64GB Purple</h3>
                                <div class="card-price">
                                    <span>1959.99</span>
                                    <span><img class="card-price-icon" src="./img/icons/Azeri_manat_symbol.svg.png" alt=""></span>
                                </div>
                            </a>
                        </div>



                    </div>
                </div>
                <!--main-column-right-->
            </div>
        </div>

    </main>



{% endblock content%}