{% extends 'base.html' %}

{% block content %}
    <h1 class="compare-title">Məhsulun müqayisəsi</h1>
    <div class="compare">
        <div class="compare-candidates">
            <div class="compare-candidate compare-col">
                <div class="candidate-search">
                    <form action="">
                        <input type="text" class="comp-input">
                        <input type="submit" class="comp-button" value="Axtar">
                    </form>
                </div>
                <h3 class="comp-input-title">
                    <a href="#">
                        <span>Xiaomi Poco X3</span>
                    </a>
                </h3>
                <div class="compare-media">
                    <img src="/static/img/compare-img/xiaomi-poco-x3.jpg" alt="compare-media">
                </div>
                <span>599.00 AZN</span>
            </div>

            <div class="compare-candidate compare-col">
                <div class="candidate-search">
                    <form action="">
                        <input type="text" class="comp-input">
                        <input type="submit" class="comp-button" value="Axtar">
                    </form>
                </div>
                <h3 class="comp-input-title">
                    <a href="#">
                        <span>Xiaomi Poco X3</span>
                    </a>
                </h3>
                <div class="compare-media">
                    <img src="/static/img/compare-img/xiaomi-poco-x3.jpg" alt="compare-media">
                </div>
                <span>599.00 AZN</span>
            </div>
            <div class="compare-candidate compare-col">
                <div class="candidate-search">
                    <form action="">
                        <input type="text" class="comp-input">
                        <input type="submit" class="comp-button" value="Axtar">
                    </form>
                </div>
                <h3 class="comp-input-title">
                    <a href="#">
                        <span>Xiaomi Poco X3</span>
                    </a>
                </h3>
                <div class="compare-media">
                    <img src="/static/img/compare-img/xiaomi-poco-x3.jpg" alt="compare-media">
                </div>
                <span>599.00 AZN</span>
            </div>
        </div>
    </div>

    <div class="compare-carackteristic">
        <table class="compare-spesifications">
            <tbody>
                <tr id="osystem">
                    <td class="comp-field-name">Əməliyyat sistemi</td>
                    <td class="comp-field-value">
                        <span>Android 10</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Android 10</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Android 10</span>
                    </td>
                </tr>
                <tr id="prosessort">
                    <td class="comp-field-name">Prosessor sürəti</td>
                    <td class="comp-field-value">
                        <span>1.8 GHz</span>
                    </td>
                    <td class="comp-field-value">
                        <span>1.8 GHz</span>
                    </td>
                    <td class="comp-field-value">
                        <span>1.8 GHz</span>
                    </td>
                </tr>
                <tr id="prosessors">
                    <td class="comp-field-name">Prosessorların sayı</td>
                    <td class="comp-field-value">
                        <span>8</span>
                    </td>
                    <td class="comp-field-value">
                        <span>8</span>
                    </td>
                    <td class="comp-field-value">
                        <span>8</span>
                    </td>
                </tr>
                <tr id="ekamera">
                    <td class="comp-field-name">Əsas Kamera</td>
                    <td class="comp-field-value">
                        <span>Quad 64+8+2+5 MP</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Quad 64+8+2+5 MP</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Quad 64+8+2+5 MP</span>
                    </td>
                </tr>
                <tr id="selficamera">
                    <td class="comp-field-name">Ön Kamera</td>
                    <td class="comp-field-value">
                        <span>16 MP</span>
                    </td>
                    <td class="comp-field-value">
                        <span>16 MP</span>
                    </td>
                    <td class="comp-field-value">
                        <span>16 MP</span>
                    </td>
                </tr>
                <tr id="sebeke">
                    <td class="comp-field-name">Şəbəkə</td>
                    <td class="comp-field-value">
                        <span>2G,3G,4G</span>
                    </td>
                    <td class="comp-field-value">
                        <span>2G,3G,4G</span>
                    </td>
                    <td class="comp-field-value">
                        <span>2G,3G,4G</span>
                    </td>
                </tr>
                <tr id="sim_card_count">
                    <td class="comp-field-name">Sim Kart</td>
                    <td class="comp-field-value">
                        <span>Dual</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Dual</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Dual</span>
                    </td>
                </tr>
                <tr id="color">
                    <td class="comp-field-name">Rəngi</td>
                    <td class="comp-field-value">
                        <span>Nebula Purple</span>
                        <br>
                        <span>Glasier White</span>
                        <br>
                        <span>Midnight Black</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Nebula Purple</span>
                        <br>
                        <span>Glasier White</span>
                        <br>
                        <span>Midnight Black</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Nebula Purple</span>
                        <br>
                        <span>Glasier White</span>
                        <br>
                        <span>Midnight Black</span>
                    </td>
                </tr>
                <tr id="cixist">
                    <td class="comp-field-name">Istehsal ili</td>
                    <td class="comp-field-value">
                        <span>2020</span>
                    </td>
                    <td class="comp-field-value">
                        <span>2020</span>
                    </td>
                    <td class="comp-field-value">
                        <span>2020</span>
                    </td>
                </tr>
                <tr id="ekrano">
                    <td class="comp-field-name">Ekran ölçüsü</td>
                    <td class="comp-field-value">
                        <span>6.47 düyüm</span>
                    </td>
                    <td class="comp-field-value">
                        <span>6.47 düyüm</span>
                    </td>
                    <td class="comp-field-value">
                        <span>6.47 düyüm</span>
                    </td>
                </tr>
                <tr id="resolution">
                    <td class="comp-field-name">Ekran imkanları</td>
                    <td class="comp-field-value">
                        <span>1080x2340 px</span>
                    </td>
                    <td class="comp-field-value">
                        <span>1080x2340 px</span>
                    </td>
                    <td class="comp-field-value">
                        <span>1080x2340 px</span>
                    </td>
                </tr>
                <tr id="uzunluq">
                    <td class="comp-field-name">Uzunluğu</td>
                    <td class="comp-field-value">
                        <span>157.8 mm</span>
                    </td>
                    <td class="comp-field-value">
                        <span>157.8 mm</span>
                    </td>
                    <td class="comp-field-value">
                        <span>157.8 mm</span>
                    </td>
                </tr>
                <tr id="eni">
                    <td class="comp-field-name">Eni</td>
                    <td class="comp-field-value">
                        <span>74.2 mm</span>
                    </td>
                    <td class="comp-field-value">
                        <span>74.2 mm</span>
                    </td>
                    <td class="comp-field-value">
                        <span>74.2 mm</span>
                    </td>
                </tr>
                <tr id="qalinliq">
                    <td class="comp-field-name">Qalınlığı</td>
                    <td class="comp-field-value">
                        <span>9.7 mm</span>
                    </td>
                    <td class="comp-field-value">
                        <span>9.7 mm</span>
                    </td>
                    <td class="comp-field-value">
                        <span>9.7 mm</span>
                    </td>
                </tr>
                <tr id="weight">
                    <td class="comp-field-name">Ağırlıq</td>
                    <td class="comp-field-value">
                        <span>204 qram</span>
                    </td>
                    <td class="comp-field-value">
                        <span>204 qram</span>
                    </td>
                    <td class="comp-field-value">
                        <span>204 qram</span>
                    </td>
                </tr>
                <tr id="yaddas">
                    <td class="comp-field-name">Yaddaş</td>
                    <td class="comp-field-value">
                        <span>64 GB</span>
                        <br>
                        <span>128 GB</span>
                    </td>
                    <td class="comp-field-value">
                        <span>64 GB</span>
                        <br>
                        <span>128 GB</span>
                    </td>
                    <td class="comp-field-value">
                        <span>64 GB</span>
                        <br>
                        <span>128 GB</span>
                    </td>
                </tr>
                <tr id="ram">
                    <td class="comp-field-name">RAM</td>
                    <td class="comp-field-value">
                        <span>6 GB</span>
                        <br>
                        <span>8 GB</span>
                    </td>
                    <td class="comp-field-value">
                        <span>6 GB</span>
                        <br>
                        <span>8 GB</span>
                    </td>
                    <td class="comp-field-value">
                        <span>6 GB</span>
                        <br>
                        <span>8 GB</span>
                    </td>
                </tr>
                <tr id="yaddaskart">
                    <td class="comp-field-name">Yaddaş kartı dəstəyi</td>
                    <td class="comp-field-value">
                        <span>Yoxdur</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Yoxdur</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Yoxdur</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    </div>



{% endblock content %}