<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./libs/owl-carousel/assets/owl.carousel.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1921f9aebb.js" crossorigin="anonymous"></script>
</head>

<body>

    <header class="header">

        <div class="header__container">
            <div class="header__logo">
                <a href="index.html" class="hvr-sink">SMART~ARENA</a>
            </div>
            <form class="header__search hvr-sink">
                <label class="header__search-input-wrapper">
                    <input aria-label="search" class="header_search-input" type="text" placeholder="Axtarış...">
                </label>
                <div class="header__search-button-wrapper">
                    <button class="header__search-button" type="submit"><i class="fas fa-search"></i></button>
                </div>

            </form>
            <div class="header__links">
                <a href="login.html" class="header_link hvr-sink">
                    <span class="header_link-icon"><img class="fl" src="./img/icons/log-in.png" alt="log-in"></span>
                    <span class="header_link-text">Giriş</span>
                </a>
                <a href="signup.html" class="header_link hvr-sink">
                    <span class="header_link-icon"><img class="fl" src="./img/icons/user.png" alt="log-in"></span>
                    <span class="header_link-text">Qeydiyyat</span>
                </a>
            </div>
        </div>
        <div class="header-nav-wrapper">
            <nav class="header-nav">
                <a href="index.html" class="header-nav_link">Baş səhifə</a>
                <a href="compare.html" class="header-nav_link">Müqayisə</a>
                <a href="contact.html" class="header-nav_link">Əlaqə</a>
            </nav>
        </div>



    </header>
    <h1 class="compare-title">Məhsulun müqayisəsi</h1>
    <div class="compare">
        <div class="compare-candidates">
            <div class="compare-candidate compare-col">
                <div class="candidate-search">
                    <form action="">
                        <input type="text" class="comp-input">
                        <input type="submit" class="comp-button" value="Axtar">
                    </form>
                </div>
                <h3 class="comp-input-title">
                    <a href="#">
                        <span>Xiaomi Poco X3</span>
                    </a>
                </h3>
                <div class="compare-media">
                    <img src="/img/compare-img/xiaomi-poco-x3.jpg" alt="compare-media">
                </div>
                <span>599.00 AZN</span>
            </div>

            <div class="compare-candidate compare-col">
                <div class="candidate-search">
                    <form action="">
                        <input type="text" class="comp-input">
                        <input type="submit" class="comp-button" value="Axtar">
                    </form>
                </div>
                <h3 class="comp-input-title">
                    <a href="#">
                        <span>Xiaomi Poco X3</span>
                    </a>
                </h3>
                <div class="compare-media">
                    <img src="/img/compare-img/xiaomi-poco-x3.jpg" alt="compare-media">
                </div>
                <span>599.00 AZN</span>
            </div>
            <div class="compare-candidate compare-col">
                <div class="candidate-search">
                    <form action="">
                        <input type="text" class="comp-input">
                        <input type="submit" class="comp-button" value="Axtar">
                    </form>
                </div>
                <h3 class="comp-input-title">
                    <a href="#">
                        <span>Xiaomi Poco X3</span>
                    </a>
                </h3>
                <div class="compare-media">
                    <img src="/img/compare-img/xiaomi-poco-x3.jpg" alt="compare-media">
                </div>
                <span>599.00 AZN</span>
            </div>
        </div>
    </div>

    <div class="compare-carackteristic">
        <table class="compare-spesifications">
            <tbody>
                <tr id="osystem">
                    <td class="comp-field-name">Əməliyyat sistemi</td>
                    <td class="comp-field-value">
                        <span>Android 10</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Android 10</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Android 10</span>
                    </td>
                </tr>
                <tr id="prosessort">
                    <td class="comp-field-name">Prosessor sürəti</td>
                    <td class="comp-field-value">
                        <span>1.8 GHz</span>
                    </td>
                    <td class="comp-field-value">
                        <span>1.8 GHz</span>
                    </td>
                    <td class="comp-field-value">
                        <span>1.8 GHz</span>
                    </td>
                </tr>
                <tr id="prosessors">
                    <td class="comp-field-name">Prosessorların sayı</td>
                    <td class="comp-field-value">
                        <span>8</span>
                    </td>
                    <td class="comp-field-value">
                        <span>8</span>
                    </td>
                    <td class="comp-field-value">
                        <span>8</span>
                    </td>
                </tr>
                <tr id="ekamera">
                    <td class="comp-field-name">Əsas Kamera</td>
                    <td class="comp-field-value">
                        <span>Quad 64+8+2+5 MP</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Quad 64+8+2+5 MP</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Quad 64+8+2+5 MP</span>
                    </td>
                </tr>
                <tr id="selficamera">
                    <td class="comp-field-name">Ön Kamera</td>
                    <td class="comp-field-value">
                        <span>16 MP</span>
                    </td>
                    <td class="comp-field-value">
                        <span>16 MP</span>
                    </td>
                    <td class="comp-field-value">
                        <span>16 MP</span>
                    </td>
                </tr>
                <tr id="sebeke">
                    <td class="comp-field-name">Şəbəkə</td>
                    <td class="comp-field-value">
                        <span>2G,3G,4G</span>
                    </td>
                    <td class="comp-field-value">
                        <span>2G,3G,4G</span>
                    </td>
                    <td class="comp-field-value">
                        <span>2G,3G,4G</span>
                    </td>
                </tr>
                <tr id="sim_card_count">
                    <td class="comp-field-name">Sim Kart</td>
                    <td class="comp-field-value">
                        <span>Dual</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Dual</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Dual</span>
                    </td>
                </tr>
                <tr id="color">
                    <td class="comp-field-name">Rəngi</td>
                    <td class="comp-field-value">
                        <span>Nebula Purple</span>
                        <br>
                        <span>Glasier White</span>
                        <br>
                        <span>Midnight Black</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Nebula Purple</span>
                        <br>
                        <span>Glasier White</span>
                        <br>
                        <span>Midnight Black</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Nebula Purple</span>
                        <br>
                        <span>Glasier White</span>
                        <br>
                        <span>Midnight Black</span>
                    </td>
                </tr>
                <tr id="cixist">
                    <td class="comp-field-name">Istehsal ili</td>
                    <td class="comp-field-value">
                        <span>2020</span>
                    </td>
                    <td class="comp-field-value">
                        <span>2020</span>
                    </td>
                    <td class="comp-field-value">
                        <span>2020</span>
                    </td>
                </tr>
                <tr id="ekrano">
                    <td class="comp-field-name">Ekran ölçüsü</td>
                    <td class="comp-field-value">
                        <span>6.47 düyüm</span>
                    </td>
                    <td class="comp-field-value">
                        <span>6.47 düyüm</span>
                    </td>
                    <td class="comp-field-value">
                        <span>6.47 düyüm</span>
                    </td>
                </tr>
                <tr id="resolution">
                    <td class="comp-field-name">Ekran imkanları</td>
                    <td class="comp-field-value">
                        <span>1080x2340 px</span>
                    </td>
                    <td class="comp-field-value">
                        <span>1080x2340 px</span>
                    </td>
                    <td class="comp-field-value">
                        <span>1080x2340 px</span>
                    </td>
                </tr>
                <tr id="uzunluq">
                    <td class="comp-field-name">Uzunluğu</td>
                    <td class="comp-field-value">
                        <span>157.8 mm</span>
                    </td>
                    <td class="comp-field-value">
                        <span>157.8 mm</span>
                    </td>
                    <td class="comp-field-value">
                        <span>157.8 mm</span>
                    </td>
                </tr>
                <tr id="eni">
                    <td class="comp-field-name">Eni</td>
                    <td class="comp-field-value">
                        <span>74.2 mm</span>
                    </td>
                    <td class="comp-field-value">
                        <span>74.2 mm</span>
                    </td>
                    <td class="comp-field-value">
                        <span>74.2 mm</span>
                    </td>
                </tr>
                <tr id="qalinliq">
                    <td class="comp-field-name">Qalınlığı</td>
                    <td class="comp-field-value">
                        <span>9.7 mm</span>
                    </td>
                    <td class="comp-field-value">
                        <span>9.7 mm</span>
                    </td>
                    <td class="comp-field-value">
                        <span>9.7 mm</span>
                    </td>
                </tr>
                <tr id="weight">
                    <td class="comp-field-name">Ağırlıq</td>
                    <td class="comp-field-value">
                        <span>204 qram</span>
                    </td>
                    <td class="comp-field-value">
                        <span>204 qram</span>
                    </td>
                    <td class="comp-field-value">
                        <span>204 qram</span>
                    </td>
                </tr>
                <tr id="yaddas">
                    <td class="comp-field-name">Yaddaş</td>
                    <td class="comp-field-value">
                        <span>64 GB</span>
                        <br>
                        <span>128 GB</span>
                    </td>
                    <td class="comp-field-value">
                        <span>64 GB</span>
                        <br>
                        <span>128 GB</span>
                    </td>
                    <td class="comp-field-value">
                        <span>64 GB</span>
                        <br>
                        <span>128 GB</span>
                    </td>
                </tr>
                <tr id="ram">
                    <td class="comp-field-name">RAM</td>
                    <td class="comp-field-value">
                        <span>6 GB</span>
                        <br>
                        <span>8 GB</span>
                    </td>
                    <td class="comp-field-value">
                        <span>6 GB</span>
                        <br>
                        <span>8 GB</span>
                    </td>
                    <td class="comp-field-value">
                        <span>6 GB</span>
                        <br>
                        <span>8 GB</span>
                    </td>
                </tr>
                <tr id="yaddaskart">
                    <td class="comp-field-name">Yaddaş kartı dəstəyi</td>
                    <td class="comp-field-value">
                        <span>Yoxdur</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Yoxdur</span>
                    </td>
                    <td class="comp-field-value">
                        <span>Yoxdur</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    </div>


    <footer class="footer-nav-wrapper">
        <nav class="footer-nav">
            <a href="index.html">Baş səhifə</a>
            <a href="compare.html">Müqayisə</a>
            <a href="contact.html">Əlaqə</a>
        </nav>
        <div class="logo">
            <a href="index.html" class="header__logo hvr">SMART~ARENA</a>
        </div>
        <div class="social">
            <a href="#"><i class="far fa-envelope"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </footer>

</body>

</html>