<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./libs/owl-carousel/assets/owl.carousel.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>

    <header class="header">

        <div class="header__container">
            <div class="header__logo">
                <a href="index.html" class="hvr-sink">SMART~ARENA</a>
            </div>
            <form class="header__search hvr-sink">
                <label class="header__search-input-wrapper">
                    <input aria-label="search" class="header_search-input" type="text" placeholder="Axtarış...">
                </label>
                <div class="header__search-button-wrapper">
                    <button class="header__search-button" type="submit"><i class="fas fa-search"></i></button>
                </div>

            </form>
            <div class="header__links">
                <a href="login.html" class="header_link hvr-sink">
                    <span class="header_link-icon"><img class="fl" src="./img/icons/log-in.png" alt="log-in"></span>
                    <span class="header_link-text">Giriş</span>
                </a>
                <a href="signup.html" class="header_link hvr-sink">
                    <span class="header_link-icon"><img class="fl" src="./img/icons/user.png" alt="log-in"></span>
                    <span class="header_link-text">Qeydiyyat</span>
                </a>
            </div>
        </div>
        <div class="header-nav-wrapper">
            <nav class="header-nav">
                <a href="index.html" class="header-nav_link">Baş səhifə</a>
                <a href="compare.html" class="header-nav_link">Müqayisə</a>
                <a href="contact.html" class="header-nav_link">Əlaqə</a>
            </nav>
        </div>



    </header>

    <main class="main-content">
        <div class="container-contact">
            <div class="contact-page">
                <h1 class="contact-title">Bizimlə Əlaqə</h1>
            </div>
            <div class="contact-photo">
                <img src="./img/contact/World2.jpg" alt="world">
            </div>
            <div class="contact-info">
                <div class="about-title">
                    <h2>Proyekt Haqqında</h2>
                </div>
                <div class="contact-content">
                    <p>
                        <strong>SMART~ARENA</strong> - mobil telefonların məlumat kataloqu. Saytın əsas məqsədi: telefonları tapmaq üçün bir xidmət, profil xəbərləri və məqalələri, əməliyyat təlimatları, yalnız telefonların alınması üçün etibarlı onlayn
                        mağazalardan təklif edir. İstehlakçılar sürətlə bir telefon ala, onlayn mağazalar mağazalar məlumatlarını yerləşdirə, məhsullarını nümayiş etdirə, rəylər göstərə və mobil cihaz istehsalçıları yeni modelləri barədə hər kəsi məlumatlandıra
                        bilər.
                    </p>
                    <br>
                    <p>
                        <strong>SMART~ARENA istifadəçiləri üçün:</strong>
                    </p>
                    <ul style="list-style: square; list-style-position: inside;
                    color: #616161;">
                        <li>
                            <span style="color: #302f2f;">Mobil telefonların böyük bir seçimi maraqlandığınız hər hansı bir telefon modelinin kataloqundadır.</span>
                        </li>
                        <li>
                            <span style="color: #302f2f;">Eyni zamanda 5-ə qədər telefon modelini müqayisə etmək qabiliyyətinə malik olan ən təfərrüatlı texniki xüsusiyyətlər hər hansı bir telefon parametrinin şərhi və şüurlu seçimdir.</span>
                        </li>
                        <li>
                            <span style="color: #302f2f;">Smart telefonu araşdırmaları, telefon haqqında daha ətraflı məlumat əldə etməyə imkan verir.</span>
                        </li>
                        <li>
                            <span style="color: #302f2f;">Parametrlərə görə rahat seçim istədiyiniz telefonu axtarmağa vaxt verir</span>
                        </li>
                        <li>
                            <span style="color: #302f2f;">Smart telefon sahiblərinin rəyləri cihazı istifadə praktiki təcrübəsi haqqında məlumatdır.</span>
                        </li>
                        <li>
                            <span style="color: #302f2f;">Mağazalardakı ən son qiymətləri görmə və seçim etmə imkanları var.</span>
                        </li>
                        <li>
                            <span style="color: #302f2f;">Yeni məhsulların və populyar telefon modellərinin vaxtında açıqlanması mobil  ölkəmizdə mövcudluğu barədə tam məlumatlı olmaq deməkdir.</span>
                        </li>
                    </ul>
                    <p>
                        <strong>Onlayn mağazalar üçün:</strong>
                    </p>
                    <ul style="list-style: square; list-style-position: inside;
                    color: #616161;">
                        <li>
                            <span style="color: #302f2f;">Mağaza haqqında məlumatların təqdim edilməsi (foto, unikal təsvir, çatdırılma şərtləri)</span>
                        </li>
                        <li>
                            <span style="color: #302f2f;">Malların qiymətlərinin avtomatik yenilənməsi (gündə iki dəfə).</span>
                        </li>
                        <li>
                            <span style="color: #302f2f;">Aktiv hədəf auditoriyasından mağazanın veb saytına keçidlərin alınması.</span>
                        </li>
                    </ul>
                    <p> Ümumi suallar (təkliflər, şərhlər, məlumat tapmaqda problemlər) üçün:
                        <span><a href="mailto:elvinyeka@gmail.com">elvinyeka@gmail.com</a></span>
                    </p>
                </div>
                <div class="contact">
                    <div class="subtitle">
                        <h1>Bizimlə əlaqə saxlayin</h1>
                    </div>
                    <form class="form">
                        <div class="form-top">
                            <p><input type="text" name="name" class="feedback-input" placeholder="Adınız" id="name"></p>
                            <p><input type="email" name="email" class="feedback-input" placeholder="Email" id="email"></p>
                            <p><input type="text" name="phone" class="feedback-input" placeholder="(XXX) XXX-XX-XX" id="name"></p>
                        </div>
                        <p><textarea name="text" id="comment"></textarea></p>
                        <div class="form-button"><input type="submit" value="Göndərmək" class="button-submit"></div>

                    </form>

                </div>
            </div>

        </div>

    </main>
    <footer class="footer-nav-wrapper">
        <nav class="footer-nav">
            <a href="index.html">Baş səhifə</a>
            <a href="compare.html">Müqayisə</a>
            <a href="contact.html">Əlaqə</a>
        </nav>
        <div class="logo">
            <a href="index.html" class="header__logo hvr">SMART~ARENA</a>
        </div>
        <div class="social">
            <a href="#"><i class="far fa-envelope"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </footer>



    <script src="js/main.js"></script>
</body>

</html>