<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMARTARENA</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./libs/owl-carousel/assets/owl.carousel.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>

    <header class="header">

        <div class="header__container">
            <div class="header__logo">
                <a href="index.html" class="hvr-sink">SMART~ARENA</a>
            </div>
            <form class="header__search hvr-sink">
                <label class="header__search-input-wrapper">
                    <input aria-label="search" class="header_search-input" type="text" placeholder="Axtarış...">
                </label>
                <div class="header__search-button-wrapper">
                    <button class="header__search-button" type="submit"><i class="fas fa-search"></i></button>
                </div>

            </form>
            <div class="header__links">
                <a href="login.html" class="header_link hvr-sink">
                    <span class="header_link-icon"><img class="fl" src="./img/icons/log-in.png" alt="log-in"></span>
                    <span class="header_link-text">Giriş</span>
                </a>
                <a href="signup.html" class="header_link hvr-sink">
                    <span class="header_link-icon"><img class="fl" src="./img/icons/user.png" alt="log-in"></span>
                    <span class="header_link-text">Qeydiyyat</span>
                </a>
            </div>
        </div>
        <div class="header-nav-wrapper">
            <nav class="header-nav">
                <a href="index.html" class="header-nav_link">Baş səhifə</a>
                <a href="compare.html" class="header-nav_link">Müqayisə</a>
                <a href="contact.html" class="header-nav_link">Əlaqə</a>
            </nav>
        </div>



    </header>

    <section class="carousel-section">
        <div class="container">
            <div class="carousel owl-carousel owl-theme" id="carousel-header">
                <div class="carousel_item">
                    <img src="./img/20200414_233128_763.jpg" alt="">
                </div>
                <div class="carousel_item">
                    <img src="./img/SMARTPHONES-1024x576.jpg" alt="">
                </div>
                <div class="carousel_item">
                    <img src="./img/apple-iphone-flip-concept-feature.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <main class="main-content">
        <div class="container">
            <div class="main_row">
                <!--main_column-left-->
                <div class="main_column-left">
                    <!--navigation-->
                    <nav class="navigation">
                        <ul class="navigation_list">
                            <button class="button"><span>Bütün Brendler</span></button>

                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">iPhone</div>
                                </a>
                            </li>
                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">Samsung</div>
                                </a>
                            </li>
                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">Xiaomi</div>
                                </a>
                            </li>
                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">Huawei</div>
                                </a>
                            </li>
                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">LG</div>
                                </a>
                            </li>
                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">Nokia</div>
                                </a>
                            </li>
                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">Realme</div>
                                </a>
                            </li>
                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">Oppo</div>
                                </a>
                            </li>
                            <li class="navigation_item">
                                <a href="brand-product.html">
                                    <div class="navigation_item-title">OnePlus</div>
                                </a>
                            </li>
                        </ul>

                    </nav>
                    <!--navigation-->

                    <!-- banner-->
                    <aside class="info-block">
                        <div class="info-block_title">Reklam</div>
                        <div class="info-block_subtitle">Reklam</div>

                    </aside>
                    <!-- banner-->

                    <!-- banner-->
                    <aside class="info-block">
                        <div class="info-block_title">Reklam</div>
                        <div class="info-block_subtitle">Reklam</div>

                    </aside>
                    <!-- banner-->


                </div>
                <!--main_column-left-->
                <!--main-column-right-->
                <div class="main_column-right">
                    <div class="cards-wrapper">
                        <div class="card">
                            <!--card header-->
                            <div class="card_header">
                                <button class="card_icon-btn">
                                    <span class="compare-icon"><i class="fas fa-compress-alt"></i></span>
                                </button>
                                <button class="card_icon-btn">
                                    <span class="heart-icon"><i class="far fa-heart"></i></span>
                                </button>
                            </div>
                            <!--card header-->
                            <a href="single-product.html">
                                <div>
                                    <img class="card-img" src="./img/phone/xiaomi-mi-10-lite.webp" alt="xiaomi">
                                </div>
                                <h3 class="card-title">Xiaomi Mi Note 10 Lite 6/64GB White</h3>
                                <div class="card-price">
                                    <span>909.99</span>
                                    <span><img class="card-price-icon" src="./img/icons/Azeri_manat_symbol.svg.png" alt=""></span>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <!--card header-->
                            <div class="card_header">
                                <button class="card_icon-btn">
                                    <span class="compare-icon"><i class="fas fa-compress-alt"></i></span>
                                </button>
                                <button class="card_icon-btn">
                                    <span class="heart-icon"><i class="far fa-heart"></i></span>
                                </button>
                            </div>
                            <!--card header-->
                            <a href="#">
                                <div>
                                    <img class="card-img" src="./img/phone/samsung-a51.webp" alt="xiaomi">
                                </div>
                                <h3 class="card-title">Samsung Galaxy A51 DS (SM-A515) 128GB BLACK</h3>
                                <div class="card-price">
                                    <span>699.99</span>
                                    <span><img class="card-price-icon" src="./img/icons/Azeri_manat_symbol.svg.png" alt=""></span>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <!--card header-->
                            <div class="card_header">
                                <button class="card_icon-btn">
                                    <span class="compare-icon"><i class="fas fa-compress-alt"></i></span>
                                </button>
                                <button class="card_icon-btn">
                                    <span class="heart-icon"><i class="far fa-heart"></i></span>
                                </button>
                            </div>
                            <!--card header-->
                            <a href="#">
                                <div>
                                    <img class="card-img" src="./img/phone/3.jpg" alt="oneplus">
                                </div>
                                <h3 class="card-title">OnePlus 8 12/256GB Green</h3>
                                <div class="card-price">
                                    <span>1799.99</span>
                                    <span><img class="card-price-icon" src="./img/icons/Azeri_manat_symbol.svg.png" alt=""></span>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <!--card header-->
                            <div class="card_header">
                                <button class="card_icon-btn">
                                    <span class="compare-icon"><i class="fas fa-compress-alt"></i></span>
                                </button>
                                <button class="card_icon-btn">
                                    <span class="heart-icon"><i class="far fa-heart"></i></span>
                                </button>
                            </div>
                            <!--card header-->
                            <a href="#">
                                <div>
                                    <img class="card-img" src="./img/phone/realme-6-pro.png" alt="realme">
                                </div>
                                <h3 class="card-title">Realme 6 Pro 8/128Gb BLUE</h3>
                                <div class="card-price">
                                    <span>749.99</span>
                                    <span><img class="card-price-icon" src="./img/icons/Azeri_manat_symbol.svg.png" alt=""></span>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <!--card header-->
                            <div class="card_header">
                                <button class="card_icon-btn">
                                    <span class="compare-icon"><i class="fas fa-compress-alt"></i></span>
                                </button>
                                <button class="card_icon-btn">
                                    <span class="heart-icon"><i class="far fa-heart"></i></span>
                                </button>
                            </div>
                            <!--card header-->
                            <a href="#">
                                <div>
                                    <img class="card-img" src="./img/phone/5.jpg" alt="honor">
                                </div>
                                <h3 class="card-title">HONOR 20 6/128GB BLACK</h3>
                                <div class="card-price">
                                    <span>999.99</span>
                                    <span><img class="card-price-icon" src="./img/icons/Azeri_manat_symbol.svg.png" alt=""></span>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <!--card header-->
                            <div class="card_header">
                                <button class="card_icon-btn">
                                    <span class="compare-icon"><i class="fas fa-compress-alt"></i></span>
                                </button>
                                <button class="card_icon-btn">
                                    <span class="heart-icon"><i class="far fa-heart"></i></span>
                                </button>
                            </div>
                            <!--card header-->
                            <a href="#">
                                <div>
                                    <img class="card-img" src="./img/phone/6.jpg" alt="xiaomi-9">
                                </div>
                                <h3 class="card-title">Xiaomi Redmi Note 9 Pro 6/64GB</h3>
                                <div class="card-price">
                                    <span>649.99</span>
                                    <span><img class="card-price-icon" src="./img/icons/Azeri_manat_symbol.svg.png" alt=""></span>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <!--card header-->
                            <div class="card_header">
                                <button class="card_icon-btn">
                                    <span class="compare-icon"><i class="fas fa-compress-alt"></i></span>
                                </button>
                                <button class="card_icon-btn">
                                    <span class="heart-icon"><i class="far fa-heart"></i></span>
                                </button>
                            </div>
                            <!--card header-->
                            <a href="#">
                                <div>
                                    <img class="card-img" src="./img/phone/7.jpg" alt="iphone">
                                </div>
                                <h3 class="card-title">iPhone 7 plus 32GB Jet Black</h3>
                                <div class="card-price">
                                    <span>1199.99</span>
                                    <span><img class="card-price-icon" src="./img/icons/Azeri_manat_symbol.svg.png" alt=""></span>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <!--card header-->
                            <div class="card_header">
                                <button class="card_icon-btn">
                                    <span class="compare-icon"><i class="fas fa-compress-alt"></i></span>
                                </button>
                                <button class="card_icon-btn">
                                    <span class="heart-icon"><i class="far fa-heart"></i></span>
                                </button>
                            </div>
                            <!--card header-->
                            <a href="#">
                                <div>
                                    <img class="card-img" src="./img/phone/8.jpg" alt="note20">
                                </div>
                                <h3 class="card-title">Samsung galaxy Note 20 Ultra (SM-N985) Black</h3>
                                <div class="card-price">
                                    <span>2599.99</span>
                                    <span><img class="card-price-icon" src="./img/icons/Azeri_manat_symbol.svg.png" alt=""></span>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <!--card header-->
                            <div class="card_header">
                                <button class="card_icon-btn">
                                    <span class="compare-icon"><i class="fas fa-compress-alt"></i></span>
                                </button>
                                <button class="card_icon-btn">
                                    <span class="heart-icon"><i class="far fa-heart"></i></span>
                                </button>
                            </div>
                            <!--card header-->
                            <a href="#">
                                <div>
                                    <img class="card-img" src="./img/phone/9.jpg" alt="huaweip20">
                                </div>
                                <h3 class="card-title">Huawei P40 8/128GB BLACK</h3>
                                <div class="card-price">
                                    <span>1599.99</span>
                                    <span><img class="card-price-icon" src="./img/icons/Azeri_manat_symbol.svg.png" alt=""></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--main-column-right-->
            </div>
        </div>

    </main>
    <footer class="footer-nav-wrapper">
        <nav class="footer-nav">
            <a href="index.html">Baş səhifə</a>
            <a href="compare.html">Müqayisə</a>
            <a href="contact.html">Əlaqə</a>
        </nav>
        <div class="logo">
            <a href="index.html" class="header__logo hvr">SMART~ARENA</a>
        </div>
        <div class="social">
            <a href="#"><i class="far fa-envelope"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </footer>

    <!--jQuery-->
    <script src="./libs/jquery/jquery-3.3.1.min.js"></script>

    <!--OwlCarousel-->
    <script src="./libs/owl-carousel/owl.carousel.min.js"></script>

    <script src="js/main.js"></script>
</body>

</html>