<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./libs/owl-carousel/assets/owl.carousel.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet"> 
</head>

<body>

    <header class="header">

        <div class="header__container">
            <div class="header__logo">
                <a href="index.html" class="hvr-sink">SMART~ARENA</a>
            </div>
            <form class="header__search hvr-sink">
                <label class="header__search-input-wrapper">
                    <input aria-label="search" class="header_search-input" type="text" placeholder="Axtarış...">
                </label>
                <div class="header__search-button-wrapper">
                    <button class="header__search-button" type="submit"><i class="fas fa-search"></i></button>
                </div>

            </form>
            <div class="header__links">
                <a href="login.html" class="header_link hvr-sink">
                    <span class="header_link-icon"><img class="fl" src="./img/icons/log-in.png" alt="log-in"></span>
                    <span class="header_link-text">Giriş</span>
                </a>
                <a href="signup.html" class="header_link hvr-sink">
                    <span class="header_link-icon"><img class="fl" src="./img/icons/user.png" alt="log-in"></span>
                    <span class="header_link-text">Qeydiyyat</span>
                </a>
            </div>
        </div>
        <div class="header-nav-wrapper">
            <nav class="header-nav">
                <a href="index.html" class="header-nav_link">Baş səhifə</a>
                <a href="compare.html" class="header-nav_link">Müqayisə</a>
                <a href="contact.html" class="header-nav_link">Əlaqə</a>
            </nav>
        </div>



    </header>

    <main class="main-content">
        <div class="container-form">
            <form class="signup-form ">
                <img src="./img/users/users.png" alt="">
                <div class="sigup-input">
                    <input type="email" required name="email" placeholder="Email">
                </div>
                <div class="sigup-input">
                    <input type="password" required name="password" placeholder="Şifrə">
                </div>
                <input class="signup-submit" type="submit" value="Hesab Yarat">
                <div class="sosial">
                    <button><i class="fab fa-google"></i></button>
                    <button><i class="fab fa-facebook"></i></button>
                </div>
            </form>

        </div>


    </main>
    <footer class="footer-nav-wrapper">
        <nav class="footer-nav">
            <a href="index.html">Baş səhifə</a>
            <a href="compare.html">Müqayisə</a>
            <a href="contact.html">Əlaqə</a>
        </nav>
        <div class="logo">
            <a href="index.html" class="header__logo hvr">SMART~ARENA</a>
        </div>
        <div class="social">
            <a href="#"><i class="far fa-envelope"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </footer>

    <!--jQuery-->
    <script src="./libs/jquery/jquery-3.3.1.min.js"></script>

    <!--OwlCarousel-->
    <script src="./libs/owl-carousel/owl.carousel.min.js"></script>

    <script src="js/main.js"></script>
</body>

</html>