<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./libs/owl-carousel/assets/owl.carousel.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>

    <header class="header">

        <div class="header__container">
            <div class="header__logo">
                <a href="index.html" class="hvr-sink">SMART~ARENA</a>
            </div>
            <form class="header__search hvr-sink">
                <label class="header__search-input-wrapper">
                    <input aria-label="search" class="header_search-input" type="text" placeholder="Axtarış...">
                </label>
                <div class="header__search-button-wrapper">
                    <button class="header__search-button" type="submit"><i class="fas fa-search"></i></button>
                </div>

            </form>
            <div class="header__links">
                <a href="login.html" class="header_link hvr-sink">
                    <span class="header_link-icon"><img class="fl" src="./img/icons/log-in.png" alt="log-in"></span>
                    <span class="header_link-text">Giriş</span>
                </a>
                <a href="signup.html" class="header_link hvr-sink">
                    <span class="header_link-icon"><img class="fl" src="./img/icons/user.png" alt="log-in"></span>
                    <span class="header_link-text">Qeydiyyat</span>
                </a>
            </div>
        </div>
        <div class="header-nav-wrapper">
            <nav class="header-nav">
                <a href="index.html" class="header-nav_link">Baş səhifə</a>
                <a href="compare.html" class="header-nav_link">Müqayisə</a>
                <a href="contact.html" class="header-nav_link">Əlaqə</a>
            </nav>
        </div>



    </header>

    <section class="product">
        <div class="product-galery">
            <h2 class="section-title">Xiaomi Mi Note 10 Lite 6/64GB White</h2>
            <div class="carousel-section">
                <div class="carousel owl-carousel owl-theme" id="carousel-product">
                    <div class="carousel_img">
                        <img src="./img/product-img/gsmarena_013.jpg" alt="">
                    </div>
                    <div class="carousel_item">
                        <img src="./img/product-img/gsmarena_016.jpg" alt="">
                    </div>
                    <div class="carousel_item">
                        <img src="./img/product-img/gsmarena_017.jpg" alt="">
                    </div>
                    <div class="carousel_item">
                        <img src="./img/product-img/gsmarena_018.jpg" alt="">
                    </div>
                    <div class="carousel_item">
                        <img src="./img/product-img/gsmarena_019.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="product-info">
            <div class="product-carackteristic">
                <table class="spesifications">
                    <thead>
                        <tr>
                            <th>Əsas Xüsusiyyətləri</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="osystem">
                            <td class="field-name">Əməliyyat sistemi</td>
                            <td class="values">
                                <span class="value">Android 10</span>
                            </td>
                        </tr>
                        <tr id="prosessort">
                            <td class="field-name">Prosessor sürəti</td>
                            <td class="values">
                                <span class="value">1.8 GHz</span>
                            </td>
                        </tr>
                        <tr id="prosessors">
                            <td class="field-name">Prosessorların sayı</td>
                            <td class="values">
                                <span class="value">8</span>
                            </td>
                        </tr>
                        <tr id="ekamera">
                            <td class="field-name">Əsas Kamera</td>
                            <td class="values">
                                <span class="value">Quad 64+8+2+5 MP</span>
                            </td>
                        </tr>
                        <tr id="selficamera">
                            <td class="field-name">Ön Kamera</td>
                            <td class="values">
                                <span class="value">16 MP</span>
                            </td>
                        </tr>
                        <tr id="sebeke">
                            <td class="field-name">Şəbəkə</td>
                            <td class="values">
                                <span class="value">2G,3G,4G</span>
                            </td>
                        </tr>
                        <tr id="sim_card_count">
                            <td class="field-name">Sim Kart</td>
                            <td class="values">
                                <span class="value">Dual</span>
                            </td>
                        </tr>
                        <tr id="color">
                            <td class="field-name">Rəngi</td>
                            <td class="values">
                                <span class="value">Nebula Purple</span>
                                <br>
                                <span class="value">Glasier White</span>
                                <br>
                                <span class="value">Midnight Black</span>
                            </td>
                        </tr>
                        <tr id="cixist">
                            <td class="field-name">Istehsal ili</td>
                            <td class="values">
                                <span class="value">2020</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="spesifications second">
                    <thead>
                        <tr>
                            <th>Ölçüləri və Yaddaş</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="ekrano">
                            <td class="field-name">Ekran ölçüsü</td>
                            <td class="values">
                                <span class="value">6.47 düyüm</span>
                            </td>
                        </tr>
                        <tr id="resolution">
                            <td class="field-name">Ekran imkanları</td>
                            <td class="values">
                                <span class="value">1080x2340 px</span>
                            </td>
                        </tr>
                        <tr id="uzunluq">
                            <td class="field-name">Uzunluğu</td>
                            <td class="values">
                                <span class="value">157.8 mm</span>
                            </td>
                        </tr>
                        <tr id="eni">
                            <td class="field-name">Eni</td>
                            <td class="values">
                                <span class="value">74.2 mm</span>
                            </td>
                        </tr>
                        <tr id="qalinliq">
                            <td class="field-name">Qalınlığı</td>
                            <td class="values">
                                <span class="value">9.7 mm</span>
                            </td>
                        </tr>
                        <tr id="weight">
                            <td class="field-name">Ağırlıq</td>
                            <td class="values">
                                <span class="value">204 qram</span>
                            </td>
                        </tr>
                        <tr id="yaddas">
                            <td class="field-name">Yaddaş</td>
                            <td class="values">
                                <span class="value">64 GB</span>
                                <br>
                                <span class="value">128 GB</span>
                            </td>
                        </tr>
                        <tr id="ram">
                            <td class="field-name">RAM</td>
                            <td class="values">
                                <span class="value">6 GB</span>
                                <br>
                                <span class="value">8 GB</span>
                            </td>
                        </tr>
                        <tr id="yaddaskart">
                            <td class="field-name">Yaddaş kartı dəstəyi</td>
                            <td class="values">
                                <span class="value">Yoxdur</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-shops" id=prices-table>
                <a target="_blank" href="https://maxi.az/telefonlar-ve-plansetler/telefonlar/smartfonlar/xiaomi-mi-note-10-lite-6gb-64gb-black/?tracking=qiymeti.net" class="price-row">
                    <div class="shop">
                        <img src="./img/magaza-logo/maxi.png" alt="magaza">
                    </div>
                    <div class="model">
                        <div class="product-url">
                            <div class="product-name">Xiaomi Mi 10Lite</div>
                            <div class="spec-values">
                                <span>64 GB</span>
                                <span>Midnight Black</span>
                                <span>6GB</span>
                            </div>
                        </div>
                    </div>
                    <div class="buy-wrapper">
                        <div class="price">
                            <span class="value">909</span>
                            <span class="fraction">,00</span>
                            <span class="currency">AZN</span>
                        </div>
                        <div class="open">
                            <div class="buy">Satın Al</div>
                        </div>
                    </div>
                </a>
                <a href="#" class="price-row">
                    <div class="shop">
                        <img src="./img/magaza-logo/maxi.png" alt="magaza">
                    </div>
                    <div class="model">
                        <div class="product-url">
                            <div class="product-name">Xiaomi Mi 10Lite</div>
                            <div class="spec-values">
                                <span>64 GB</span>
                                <span>Midnight Black</span>
                                <span>6GB</span>
                            </div>
                        </div>
                    </div>
                    <div class="buy-wrapper">
                        <div class="price">
                            <span class="value">909</span>
                            <span class="fraction">,00</span>
                            <span class="currency">AZN</span>
                        </div>
                        <div class="open">
                            <div class="buy">Satın Al</div>
                        </div>
                    </div>
                </a>
                <a href="#" class="price-row">
                    <div class="shop">
                        <img src="./img/magaza-logo/maxi.png" alt="magaza">
                    </div>
                    <div class="model">
                        <div class="product-url">
                            <div class="product-name">Xiaomi Mi 10Lite</div>
                            <div class="spec-values">
                                <span>64 GB</span>
                                <span>Midnight Black</span>
                                <span>6GB</span>
                            </div>
                        </div>
                    </div>
                    <div class="buy-wrapper">
                        <div class="price">
                            <span class="value">909</span>
                            <span class="fraction">,00</span>
                            <span class="currency">AZN</span>
                        </div>
                        <div class="open">
                            <div class="buy">Satın Al</div>
                        </div>
                    </div>
                </a>
                <a href="#" class="price-row">
                    <div class="shop">
                        <img src="./img/magaza-logo/maxi.png" alt="magaza">
                    </div>
                    <div class="model">
                        <div class="product-url">
                            <div class="product-name">Xiaomi Mi 10Lite</div>
                            <div class="spec-values">
                                <span>64 GB</span>
                                <span>Midnight Black</span>
                                <span>6GB</span>
                            </div>
                        </div>
                    </div>
                    <div class="buy-wrapper">
                        <div class="price">
                            <span class="value">909</span>
                            <span class="fraction">,00</span>
                            <span class="currency">AZN</span>
                        </div>
                        <div class="open">
                            <div class="buy">Satın Al</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        </div>
    </section>

    <footer class="footer-nav-wrapper">
        <nav class="footer-nav">
            <a href="index.html">Baş səhifə</a>
            <a href="compare.html">Müqayisə</a>
            <a href="contact.html">Əlaqə</a>
        </nav>
        <div class="logo">
            <a href="index.html" class="header__logo hvr">SMART~ARENA</a>
        </div>
        <div class="social">
            <a href="#"><i class="far fa-envelope"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </footer>

    <!--jQuery-->
    <script src="./libs/jquery/jquery-3.3.1.min.js"></script>

    <!--OwlCarousel-->
    <script src="./libs/owl-carousel/owl.carousel.min.js"></script>

    <script src="js/main.js"></script>
</body>

</html>